form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
  justify-content: center;
  align-items: center;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}
